.image > .fullscreen, .panorama > .fullscreen, .text > .fullscreen, .link > .fullscreen, .audio > .fullscreen  {
  display: flex;
  position: fixed;
  top: 0;
  width: 25em;
  height: 100%;
  flex-direction: column;
  justify-content:center;
  align-items: left;
  color: #ffffff;
  background-color: #2f2f2f;
  z-index: 10;
}

.elementPadding {
  visibility: hidden;
}

.image, .panorama, .text, .link, .audio {
  position: relative;
}

.image > div, .panorama > div, text > div, link > div, .audio > div {
  position: absolute;
}

.image {
  height: 23em;
}

.image > div > img {
  max-width: 100%;
  max-height: 100%;
  width: 25em;
  height: auto;
}

.panorama {
  height: 22em;
}

.panorama > div > div {
  max-width: 25em;
  overflow-y: hidden;
  overflow-x: scroll;
}

.panorama > .fullscreen > div {
  max-width: 25em;
  overflow-y: hidden;
  overflow-x: scroll;
}

.text {
  height: 40em;
}

.link, .link > div > iframe {
  height: 20em;
}

.link > .fullscreen {
  width: 25em;
}

.audio {
  height: 18em;
}

.audio > div {
  width: 100%;
}

.audio > .fullscreen {
  width: 25em;
}

#tourLanding {
  height: 100%;
}

#locationList {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 0 auto;
  width: 25rem;
  height: 100%;
  background-color: #ffffff;
}

@media only screen and (max-width: 30rem) {
  .fullscreen, #locationList, #bottomDialog {
    max-width: 100vw;
    width: 100vw;
  }

  .image > .fullscreen, .panorama > .fullscreen > div, .text > .fullscreen, .link > .fullscreen, .audio > .fullscreen {
    max-width: 100vw;
    width: 100vw;
  }
  
  .image > div > img {
    max-width: 100vw;
    max-height: 100vw;
    width: 100vw;
    height: auto;
  }

  .panorama > .fullscreen {
    width: 100vw;
  }
  
  .panorama > div > div {
    max-width: 100vw;
  }
  
  .panorama > .fullscreen > div {
    max-width: 100vw;
  }
  
  .link > .fullscreen {
    width: 100vw;
  }

  .audio > .fullscreen {
    width: 100vw;
  }
}
  
